$input-background-color: #ebf1f7;
$input-color: #a0b3ce;

$nav-color: #95aac9;
$message-background-color: #f6f9fb;
$round-background-color: #2787f5;

$message-input-background-color: rgb(235, 241, 247);

$friend-background-color: white;
$notification-a-color: #2787f5;
$notification-a-background-color: #dfedfe;
